/* Overall Styles -------------------- */

a {
    margin: 5px;
}

.main-wrapper {
    background-color: #f8f8fa;
    font: 1em/1.75 'Cabin', sans-serif;
    width: 100%;
    text-align: center;
}

.gallery,
.skills {
    background-color: #fff;
}



/* HR section -------------------- */

hr.section-divider {
    background-color: #d2d4dc;
    height: 2%;
    width: 96%;
    text-align: center;
}

.dividing-line {
    margin: auto;
}



/* Main Header Section -------------------- */

header {
    padding: 20px;
    font-family: 'Cantarell', sans-serif;
    display: block; 
    background-color: #f8f8fa;
}

.main-name {
    font-size: 1.2em;
    line-height: 0.75;
    text-shadow: -2px -1px #afafaf;
    text-decoration: none;
    text-align: center;
    padding-bottom: 2px;
}

.main-nav {
    margin: auto;
}

.main-nav li {
    display: block;
    list-style: none;
    margin: 20px 5px 10px -30px;
    padding: 5px 0;
    text-align: center;
    background-color: #d2d4dc;
    font-size: 1.9em;
}

.main-nav a {
    text-decoration: none;
    color: #808080;
}

a:hover {
    color: #eee;
}



/* About Section -------------------- */

.about {
    padding: 50px 25px 10px 25px;
    margin: auto;
    background-color: #f8f8fa;
    
}

.profile-image {
      width: 90%;
      box-shadow: 5px 5px 2px lightgrey;
}

.about p {
    font-size: 1.5em;
    line-height: 2em;
}



/* Gallery Section -------------------- */

.gallery {
    padding-top: 5%;
    padding-bottom: 20%;
}

#gallery-header {
    font-family: 'Cantarell', sans-serif;
    margin: 25px 0 50px 30px;
    font-size: 1.5em;
    line-height: 1.2;
    text-shadow: -2px -1px #afafaf;
}

.gallery img {
    width: 100%;
    box-shadow: 0 0 1em grey;
}

.gallery li {
    margin: 25px 10px 10px -30px;
    list-style: none;
}

.gallery h2 {
    margin-top: 5px;
    font-size: 2em;
    font-weight: 300;
    color: #7b7d7b;
}

.gallery p {
    font-size: 1.25em;
    margin-top: -5%;
    color: #969696;
}



/* Skills Section -------------------- */

.skills {
    padding: 5%; 
}

.skills h3 {
    margin: 2px 0 20px 0;
    font-size: 3em;
    font-family: 'Cantarell', sans-serif;
    color: #7b7d7b;
    text-shadow: -2px -1px #afafaf;
    }

.skills p {
    margin: 5px;
    margin-bottom: -15px;
    padding: 10px 0;
    font-size: 1.25em;
    color: #969696;
}

#li-skills {   
    display: inline-flex;
    margin: 10px 35px;
}

#li-skills li {
    list-style: none;
    border: 2px solid #7b7d7b;
    margin: 15px 45px 15px 2px;
    padding-left: 20px;
    padding-right: 20px; 
    font-size: 1.05em;
    background-color: #f8f8fa;
    box-shadow: 1px 1px 1px lightgrey;
}



/* Contact Section -------------------- */

.contact {
    padding: 2px 0;
    background: linear-gradient(180deg, #fff, #f8f8fa);
}

.contact h3 {
    font-family: 'Cantarell', sans-serif;
    text-shadow: -2px -1px #afafaf;
    color: #7b7d7b;
    font-size: 2.75em;
    margin: 25px 0 5px 0;
    
}
.contact p {
    font-size: 1.15em;
    margin: 10px;
    padding: 25px 0 10px 0;
    color: #969696;
}

#info {
    margin: 15px 3px;
    padding: 5px 0;
}

#info li {
    display: block;
    list-style: none;
    margin: 10px 0;
    padding: 5px
}

#info a {
    text-decoration: none;
    color: #808080;
}

#info a:hover {
    color: #000;
}



/* Footer Section -------------------- */

.bottom-section {
    background-color: #f8f8fa;
}

.bottom-section h4 {
    float: left;
    font-size: 1.2em;
    padding: 0 10px;
    color: #7b7d7b;
}

.bottom-section a {
    float: right;
    text-decoration: none;
    color: #808080;
    font-size: 1.2em;
    padding: 25px 10px;
}

.bottom-section a:hover {
    color: #000;
}

.bottom-nav {
    display: none;
}

#top {
    margin-top: 0.25%;
}



/* Clearfix -------------------- */

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}



/* Media Queries -------------------- */

@media (min-width: 768px) {
    
    .main-nav li {
        display: inline-block;
        margin: 0 20px;
        padding-right: 20px;
        font-size: 1.5em;
        font-weight: bold;
        background-color: transparent;
    }
    
    .about {
        padding-bottom: 60px;
    }
    
    .profile-image {
      width: 45%;
      float: right;
    }

    .about p {
        color: #808080;
        font-size: 1.4em;
        line-height: 3rem;
        text-align: left;
        float: left;
        padding-top: 0;
        width: 50%;
        margin: 2.5%;
        margin-top: -1%;
    }  
    
    .gallery {
        margin: 0 0 -10% -2%;
        padding-right: 15px;
    }
    
    .gallery li {
        display: inline-block;
        vertical-align: top;
        margin: 1.15%;
        width: 47.25%;
    }
    
    .gallery p {
        height: 100px;
    }
    
    .contact p {
        font-size: 1.25em;
    }
    
    .bottom-section h4 {
        font-size: 1.3em;
        padding-left: 2%;
        margin-top: 0.75%;
    }
    
    #top {
        display: none;
    }
    
    .bottom-nav {
        display: inherit;
        float: right;
        font-size: 1.05em;
        font-weight: bold;
        margin: -2.75% 1% 0 0;
        list-style: none;  
    }
    
    .bottom-nav li {
        float: left;
    }
    
}

@media (min-width: 1024px) {
    
    header {
        margin-bottom: 5%;
    }
    
    .main-name {
        float: left;
        font-size: 1rem;
        margin-top: 5px;
    }
    
    .main-nav {
        float: right;
    }
    
    .main-nav li {
        float: left;
        margin-left: 5px;
    }
    
    .about {
        margin-right: 40px;
    }
    
    .about p {
        margin-left: -5px;
    }
    
    .gallery {
        margin: 0 35px 10px;
    }
    
    .gallery li {
        width: 30.5%;
        margin: 1.15%;
        margin-left: 18px;
    }
    .bottom-nav {
        margin: -2% 1% 0 0;
    }
    
}







